
.order:hover, .order--selected {
  color: white;
}

.order__body {
  padding: 0 0.5rem;
}


.orders-list {
  display: flex;
  flex-direction: column;
}

.order {
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.order__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #131E2A;
  background-color: #aaa;
}

.order__title {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
}

.order__title span {
  margin-bottom: 5px;
}

.order__price {
  font-weight: bold;
}

.order__body {
  padding: 10px;
}

.order-detail {
  display: flex;
  margin-bottom: 5px;
}

.order-detail__label {
  font-weight: normal;
  margin-right: 5px;
}

.order-detail__value {
  font-weight: bold;
}